﻿html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	background: url("./img/401-background.jpg") no-repeat;
	background-size: 100% 100%;
}

.unauthorized{
	position: relative;
	display: block;
	text-align: center;
	top: 65%;
	margin: 0 auto;
	font: bold 2vw Comic Sans MS;
	color: white;
}