﻿.comment {
    border: solid rgba(192, 205, 192, 0.3);
    border-radius: 10px;
    background: rgba(205, 202, 205, 0.35);
    display: block;
    position: relative;
    box-shadow: 0 0 0.5em rgba(202, 230, 200, 0.85);
}

.comment:nth-child(n + 1) {
    margin-bottom: 10px;
}

.comment-offset-1 {
    margin-left: 30px;
    width: calc(100% - 50px);
}

.comment-offset-2 {
    margin-left: 60px;
    width: calc(100% - 80px);
}

.comment-offset-3 {
    margin-left: 90px;
    width: calc(100% - 110px);
}

.comment-body {
    display: block;
    position: relative;
    width: 100%;
    font: 1em Times New Roman;
    color: rgba(30, 30, 30, 0.87);
}

.comment-head {
    width: 100%;
    position: relative;
    display: block;
    font: 1em Verdana;
    color: rgba(60, 60, 60, 0.85);
    min-height: 40px;
}

.comment-author {
    padding-top: 5px;
    float: left;
    display: block;
    position: relative;
    padding-left: 15px;
    width: 70%;
}

.comment-author:hover {
    text-shadow: 0 0 1em rgba(200, 250, 25, 0.9);
}

.comment-date {
    margin-top: 10px;
    padding-right: 15px;
    float: right;
    display: block;
    position: relative;
}

.comment-answer-to {
    display: block;
    width: 100%;
    background: rgba(220, 200, 160, 0.23);
    min-height: 40px;
    padding-left: 15px;
    padding-bottom: 15px;
    font: 0.7em Verdana;
}

.comment-answer-to-btn {
    margin-left: 10px;
    margin-top: 6px;
    padding: 6px 10px;
    text-align:center;
    display: block;
    font: 1.2em Arial Arial Black;
    width: auto;
    height: 25px;
    float: left;
    border-radius: 20px;
    word-break: break-all;
    background: rgba(180, 205, 150, 0.56);
    box-shadow: 0 0 0.5em rgba(80,200,250,0.15);
    text-decoration: none;
}

.comment-answer-to-btn:hover {
    background: rgba(190, 215, 160, 0.4);
}

.comment-quote {
    padding: 10px;
    background: rgba(200, 205, 200, 0.85);
    color: #008080;
    font: bold 1.3em Verdana;
    border-radius: 5px;
    margin: 7px;
}

.comment-quote:hover {
    color: #009a9a;
    background: rgba(210, 215, 210, 0.85);
}

.comment-body-text {
    padding: 10px;
    font: 1.12em Times New Roman;
    color: rgba(80,110,70, 0.9);
}

.comment-answer-label {
    left: 0;
    text-align: left;
    margin-top: 15px;
    width: 75px;
    display: block;
    position: relative;
    float: left;
    clear: left;
    color: #228b22;
}

.comment-answer-name{
    margin-top: 15px;
    display: block;
    position: relative;
    float: left;
    color: rgba(50,80,50, 0.56);
    padding-left: 5px;
}