﻿@model GameStore.ViewModels.AuthViewModels.LoginViewModel

@{
    ViewBag.Title = GlobalRes.Login_Title;
}

<h2>@GlobalRes.Login_Title</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>@GlobalRes.Login_Title</legend>
        <div class="form-group row">
            <label class="control-label col-md-4" for="NickName">
                @GlobalRes.NickName_Name
            </label>
            <div class="form-group col-md-8">
                @Html.TextBox("NickName", Model.NickName, new { @class = "form-control" })
                @Html.ValidationMessage("NickName")
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4" for="Password">
                @GlobalRes.PasswordName
            </label>
            <div class="form-group col-md-8">
                @Html.Password("Password", Model.Password, new { @class = "form-control" })
                @Html.ValidationMessage("Password")
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4" for="IsPersistent">
                @GlobalRes.IsPersistent
            </label>
            <div class="form-group col-md-8">
                @Html.CheckBox("IsPersistent", Model.IsPersistent, new {@class = "checkbox", id = "IsPersistent" })
                @Html.ValidationMessage("IsPersistent")
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                    @GlobalRes.LoginBtn
                </button>
            </div>
        </div>
    </fieldset>
}