﻿@model GameStore.DTO.Authentification.UserDto
@if (Model != null)
{
    <li><a>@GlobalRes.User: @Model.NickName</a></li>
    <li>@Html.ActionLink(GlobalRes.LogoutBtn, "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink(GlobalRes.LoginBtn, "Login", "Account")</li>
    <li>@Html.ActionLink(GlobalRes.RegisterBtn, "Register", "Account")</li>
}