﻿@using GameStore.Helpers
@using GameStore.ViewModels
@model GameStore.ViewModels.Comment.BanViewModel

@{
    ViewBag.Title = GlobalRes.TitleBan;
}

<h2>@GlobalRes.TitleBan</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BanDuration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CustomDropDownList("BanDuration", "BanDuration", Model.BanDurations, Model.SelectedBan == null ? null : new List<ListItem<string>>() {Model.SelectedBan}, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.BanDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.BanBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}