﻿@model GameStore.ViewModels.Genre.GenreFullViewModel

@{
    ViewBag.Title = GlobalRes.GenreDetailsTitle + ":" + Model.Name;
}

<h2>Get</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectId)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("manager"))
    {
        @Html.ActionLink(GlobalRes.EditBtn, "Update", new {genreName = Model.Name})
    }
    @Html.ActionLink(GlobalRes.BackToListBtn, "Index")
</p>
