﻿@model IEnumerable<GameStore.ViewModels.Genre.GenreSimpleViewModel>

@{
    ViewBag.Title = GlobalRes.TitleIndex;
}

<h2>@GlobalRes.TitleIndex</h2>

<p>
    @Html.ActionLink(GlobalRes.AddGenreBtn, "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @if (User.IsInRole("Manager"))
            {
                @Html.ActionLink(GlobalRes.EditBtn, "Update", new {genreName = item.GenreName})
                @Html.ActionLink(GlobalRes.DeleteBtn, "Delete", new { genreName = item.GenreName })
            }
            @Html.ActionLink(GlobalRes.DetailsBtn, "Get", new {genreName = item.GenreName})
        </td>
    </tr>
}

</table>
