﻿@using GameStore.Common.Helpers
@using GameStore.Helpers
@using GameStore.Helpers.EnumExtentions
@using GameStore.ViewModels
@model GameStore.ViewModels.Genre.AddGenreViewModel

@{
    ViewBag.Title = GlobalRes.AddGenreTitle;
}

<h2>@GlobalRes.AddGenreTitle</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@GlobalRes.AddGenreTitle</h4>
        <hr />
        
        <ul class="nav nav-tabs" role="tablist">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                <li class="nav-item">
                    @if (item == (LanguageCode)ViewBag.DefaultLanguage)
                    {
                        <a class="nav-link active" data-toggle="tab" href="#DefaultLang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                    else if (Model.GenreLocalization.FirstOrDefault(x => x.Language == item) != null)
                    {
                        <a class="nav-link" data-toggle="tab" href="#@item.ToString()Lang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                </li>
            }
        </ul>
        
        @{
            var i = 0;
        }

        <div class="tab-content">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                if (item == (LanguageCode)ViewBag.DefaultLanguage)
                {
                    <div class="tab-pane fade in active" id="DefaultLang" role="tabpanel">

                        <div class="form-group">
                            @Html.LabelFor(model => model.GenreName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GenreName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GenreName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var locale = Model.GenreLocalization.FirstOrDefault(x => x.Language == item);
                    if (locale != null)
                    {
                        <div class="tab-pane fade" id="@item.ToString()Lang" role="tabpanel">
                            <h4>@GlobalRes.AddGenreLocalizationTitle @locale.Language.GetLocalizedDescription()</h4>
                            @Html.Hidden("GenreLocalization[" + i + "].Language", locale.Language, new { @class = "form-control" })
                            <div class="form-group">
                                <label class="control-label col-md-2">@GlobalRes.GenreNameDisplay</label>
                                <div class="col-md-10">
                                    @Html.TextBox("GenreLocalization[" + i + "].Name", locale.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    i++;
                }
            }
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ParentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CustomDropDownList("ParentName", "ParentName", Model.Genres, Model.ParentName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParentName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.CreateBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(GlobalRes.BackToListBtn, "Index")
</div>
