﻿@using GameStore.ViewModels
@using GameStore.Helpers
@using GameStore.Common.Helpers
@model GameStore.ViewModels.Game.FilterViewModel

@using (Html.BeginForm("Index", "Game", FormMethod.Get, new { id = "filter-form" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.PageNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOnPage)
            <div class="col-md-10">
                @Html.CustomDropDownList("NumberOnPage", "NumberOnPage", Model.NumbersOnPage, Model.NumberOnPage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberOnPage, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" value="@Model.NumberOnPage" id="CountOnPage" />

        <hr />
        @Html.CustomCheckboxGroup(GlobalRes.PlatformFilter, "platforms", "platforms", Model.Platforms, Model.SelectedPlatforms)
        <hr />
        @Html.CustomCheckboxGroup(GlobalRes.GenreFilter, "genres", "genres", Model.Genres, Model.SelectedGenres)
        <hr />
        @Html.CustomCheckboxGroup(GlobalRes.PublisherFilter, "publishers", "publishers", Model.Publishers, Model.SelectedPublishers)
        <hr />
        <div class="form-group">
            <label for="GameName">@GlobalRes.GameNameFilter</label>
            <div class="col-md-10">
                @Html.EditorFor(x => x.GameName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SortType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="SortType">@GlobalRes.SortFilter</label>
            <div class="col-md-10">
                @Html.CustomDropDownList("SortType", "SortType", Model.SortTypes, Model.SortType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SortType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceLow, "Price from:")
            <div class="col-md-10">
                @Html.EditorFor(x => x.PriceLow, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceLow, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceHigh, "Price to:")
            <div class="col-md-10">
                @Html.EditorFor(x => x.PriceHigh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceHigh, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.CustomRadioButtonGroup(GlobalRes.GameDateFilter, "date", "date", Model.DateFilterTypes, Model.SelectedFilterTypes)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.FilterBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}