﻿@model GameStore.ViewModels.Game.SimpleGameViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="caption text-left">@Model.Name</strong>
        <div class="label label-success text-right">
            <strong class="right text-right">@Model.Price $</strong>
        </div>
    </div>
    <div class="panel-body">
        @Model.Description
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="label label-success">
                <strong>@GlobalRes.GameUnitsInStock: </strong>
                <span class="text-info">@Model.UnitsInStock</span>
                &nbsp;
            </div>
            <div class="label label-warning">
                <strong>@GlobalRes.GameDiscontinued: </strong>
                <span class="text-warning">@Model.Discontinued.ToString()</span>
                &nbsp;
            </div>
        </div>
        <br />
        <div class="row">
            <div class="label label-info left">
                <strong class="text-left">@GlobalRes.PublisherName: </strong>
                <span class="text-info text-left">@Model.PublisherName</span>
                &nbsp;
            </div>
            <div class="label label-info right">
                <small class="text-right right">@GlobalRes.GameRelease: @Model.ReleaseDate</small>
                &nbsp;
            </div>
            <div class="label label-info left">
                <small class="text-right right">@GlobalRes.GamePublish: @Model.PublishDate</small>
                &nbsp;
            </div>
        </div>
        <br />
        <div class="row">
            <div class="btn-group">

                <a href="@Url.Action("Game", new { key = Model.Key})" class="btn btn-default">@GlobalRes.DetailsBtn</a>
                
                @if (User.IsInRole("Manager"))
                {
                    <a href="@Url.Action("Update", new {key = Model.Key})" class="btn btn-default">@GlobalRes.EditBtn</a>

                    <a href="@Url.Action("Remove", new {key = Model.Key})" class="btn btn-default">@GlobalRes.DeleteBtn</a>
                }

                <a href="@Url.Action("Download", new {key = Model.Key})" class="btn btn-default">@GlobalRes.DownloadBtn</a>
                
                @if (User.IsInRole("User"))
                {
                    <a href="@Url.Action("Buy", new {controller = "Basket", key = Model.Key, lang = GlobalRes.CurrentLang})" class="btn btn-success">@GlobalRes.BuyBtn</a>
                }
            </div>
        </div>
    </div>
</div>