﻿@model GameStore.ViewModels.Game.GameViewModel

@{
    ViewBag.Title = Model.Name;
}

@Html.DisplayForModel("GameViewModel")

<script src="~/scripts/bootstrap.js"></script>
<script src="~/scripts/comment.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>