﻿@using GameStore.Helpers
@model GameStore.ViewModels.Game.GamesViewModel

@{
    ViewBag.Title = GlobalRes.TitleGames;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_Filters", Model.Filter); }
        </div>
        <div class="col-md-9">
            @if (User.IsInRole("Manager"))
            {
                <a href="@Url.Action("New")" class="btn btn-info">@GlobalRes.AddGameBtn</a>
            }
            <input type="hidden" value="@Model.TotalGamesCount" id="TotalFilteredCount"/>
            @foreach (var game in Model.Games)
            {
                Html.RenderPartial("_SimpleGameViewModel", game);
            }
            <div class="col-md-9 col-md-offset-3">
                @Html.CustomPagination(Model.TotalGamesCount, Model.Filter.PageNumber, Model.NumberOnPage)
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/pagination.js"></script>