﻿@model GameStore.ViewModels.Game.CreateGameViewModel

@{
    ViewBag.Title = GlobalRes.CreateGameTitle;
}

<h2>New</h2>

@Html.EditorForModel("CreateGameViewModel")

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>