﻿@using GameStore.Helpers
@model GameStore.ViewModels.Basket.OrderFilterViewModel

@using (Html.BeginRouteForm("Order", new {controller = "Basket", action = Model.CanEdit ? "Orders" : "History", lang = GlobalRes.CurrentLang }, FormMethod.Get, new { id = "filter-form" }))
{
    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.PageNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOnPage)
            <div class="col-md-10">
                @Html.CustomDropDownList("NumberOnPage", "NumberOnPage", Model.NumbersOnPage, Model.NumberOnPage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberOnPage, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" value="@Model.NumberOnPage" id="CountOnPage" />

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, GlobalRes.HistoryFilterDateFrom + ":")
            <div class="col-md-10">
                <input type="datetime" class="form-control uidatepicker" name="StartDate" id="StartDate" value="@Model.StartDate.ToString("d")"/>
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, GlobalRes.HistoryFilterDateTo + ":")
            <div class="col-md-10">
                <input type="datetime" class="form-control uidatepicker" name="EndDate" id="EndDate" value="@Model.EndDate.ToString("d")"/>
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.FilterBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}