﻿@model IEnumerable<GameStore.ViewModels.Basket.OrderDetailViewModel>

<div id="basket-items">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th></th>
        </tr>

        @{
            var index = 0;
        }

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                    @if (User.IsInRole("User"))
                    {
                        <div class="btn-group">
                            @Html.ActionLink(GlobalRes.EditBtn, "Edit", new {action = "edit", controller = "basket", id = index, lang = GlobalRes.CurrentLang}, new {@class = "btn btn-success"})
                            @Ajax.ActionLink(GlobalRes.DeleteBtn, "Delete", new {action = "delete", controller = "basket", id = item.Id, lang = GlobalRes.CurrentLang}, new AjaxOptions {UpdateTargetId = "basket-items", HttpMethod = "POST", InsertionMode = InsertionMode.Replace}, new {@class = "btn btn-danger"})
                        </div>
                    }
                </td>
            </tr>
            index++;
        }
    </table>
</div>