﻿@using GameStore.Common
@using GameStore.Helpers.EnumExtentions
@model GameStore.ViewModels.Basket.HistoryListViewModel

<table class="table">
    @{
        var i = 0;
    }
    @foreach (var item in Model.Orders)
    {
        if (i == 0)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => item.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.PaymentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Summ)
                </th>
                @if (User.IsInRole("manager") && Model.CanEdit)
                {
                    <th>@Html.DisplayNameFor(model => item.Status)</th>
                }
                <th></th>
            </tr>
        }


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.OrderDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summ)
            </td>
            @if (User.IsInRole("manager") && Model.CanEdit)
            {
                <td>
                    @item.Status.GetLocalizedDescription()
                </td>
            }
            <td>
                @if (User.IsInRole("manager") && item.OrderDate != default(DateTime) && Model.CanEdit && item.ShippedDate == null && item.Status != OrderStatus.Shipped)
                {
                    @Html.ActionLink("Change status", "ChangeStatus", new {id = item.Id})
                }
            </td>
        </tr>
        i++;
    }
</table>