﻿@using GameStore.Common

<div class="row">
    <div class="col-md-4">
        <div class="row"><img class="img-responsive img-payment" src="~/Content/img/bank.png" />
        </div>
        <div class="row">
            <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis gravida sem, a ullamcorper nibh. Ut pulvinar sapien turpis, eu dictum massa imperdiet quis. Duis at felis vel leo malesuada laoreet id ac augue. Suspendisse varius sapien at orci hendrerit aliquam. Nulla consectetur in enim ut scelerisque. Aliquam facilisis felis id laoreet ultrices. Mauris orci lectus, finibus volutpat pharetra et, rutrum quis nisl. Nam posuere, felis vitae facilisis imperdiet, leo ligula vulputate velit, sed euismod risus ligula vitae tortor. Sed maximus turpis id placerat cursus. Aliquam erat volutpat. Proin imperdiet dolor est, id dignissim magna mollis eu. Suspendisse blandit augue ac tellus ultrices, sagittis bibendum risus maximus.
            </p>
            <div class="btn btn-success">
                @Html.RouteLink(GlobalRes.OrderPayBankBtn, "Order", new { action = "Pay", type = TypeOfPayment.Bank.ToString(), lang = GlobalRes.CurrentLang })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row"><img class="img-responsive img-payment" src="~/Content/img/terminal_ibox.jpg" /></div>
        <div class="row">
            <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis gravida sem, a ullamcorper nibh. Ut pulvinar sapien turpis, eu dictum massa imperdiet quis. Duis at felis vel leo malesuada laoreet id ac augue. Suspendisse varius sapien at orci hendrerit aliquam. Nulla consectetur in enim ut scelerisque. Aliquam facilisis felis id laoreet ultrices. Mauris orci lectus, finibus volutpat pharetra et, rutrum quis nisl. Nam posuere, felis vitae facilisis imperdiet, leo ligula vulputate velit, sed euismod risus ligula vitae tortor. Sed maximus turpis id placerat cursus. Aliquam erat volutpat. Proin imperdiet dolor est, id dignissim magna mollis eu. Suspendisse blandit augue ac tellus ultrices, sagittis bibendum risus maximus.
            </p>
            <div class="btn btn-success">
                @Html.RouteLink(GlobalRes.OrderPayIBosBtn, "Order", new { action = "Pay", type = TypeOfPayment.IBox.ToString(), lang = GlobalRes.CurrentLang })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row"><img class="img-responsive img-payment" src="~/Content/img/visa.jpg" /></div>
        <div class="row">
            <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis gravida sem, a ullamcorper nibh. Ut pulvinar sapien turpis, eu dictum massa imperdiet quis. Duis at felis vel leo malesuada laoreet id ac augue. Suspendisse varius sapien at orci hendrerit aliquam. Nulla consectetur in enim ut scelerisque. Aliquam facilisis felis id laoreet ultrices. Mauris orci lectus, finibus volutpat pharetra et, rutrum quis nisl. Nam posuere, felis vitae facilisis imperdiet, leo ligula vulputate velit, sed euismod risus ligula vitae tortor. Sed maximus turpis id placerat cursus. Aliquam erat volutpat. Proin imperdiet dolor est, id dignissim magna mollis eu. Suspendisse blandit augue ac tellus ultrices, sagittis bibendum risus maximus.
            </p>
            <div class="btn btn-success">
                @Html.RouteLink(GlobalRes.OrderPayVisaBtn, "Order", new { action = "Pay",type = TypeOfPayment.Visa.ToString(), lang = GlobalRes.CurrentLang })
            </div>
        </div>
    </div>
</div>