﻿@model GameStore.ViewModels.Basket.BuyViewModel

@{
    ViewBag.Title = GlobalRes.TitleBuy;
}

<h2>@GlobalRes.TitleBuy: @Model.GameKey</h2>

@using (Html.BeginRouteForm("GameBuy", new {key = Model.GameKey, lang = GlobalRes.CurrentLang }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.GameKey)
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.BuyBtn" class="btn btn-default" />
                <div class="btn btn-info"><a href="@Url.RouteUrl("Games", new { param = "games", lang = GlobalRes.CurrentLang})">@GlobalRes.CancelBtn</a></div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>