﻿@model GameStore.ViewModels.Basket.EditOrderDetailViewModel

@{
    ViewBag.Title = GlobalRes.TitleEdit;
}

<h2>@GlobalRes.TitleEdit</h2>

@using (Html.BeginRouteForm("Order", new { controller = "Basket", action = "Edit", lang = GlobalRes.CurrentLang }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(x => x.ProductName, GlobalRes.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.ProductName" name="ProductName" id="ProductName" class="form-control" readonly />
            </div>
        </div>

        <input type="hidden" value="@Model.Id" name="Id" id="Id" />

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.SaveBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.RouteLink(GlobalRes.BackToListBtn, "Basket", new { controller = "Basket", action = "Index", lang = GlobalRes.CurrentLang })
</div>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>