﻿@using GameStore.Helpers
@model GameStore.ViewModels.Basket.OrderHistoryViewModel

@{
    if (!Model.HistoryList.CanEdit)
    {
        ViewBag.Title = GlobalRes.TitleHistory;
    }
    else
    {
        ViewBag.Title = GlobalRes.TitleOrders;
    }
}

<h2>
    @if (!Model.HistoryList.CanEdit)
    {
        ViewBag.Title = GlobalRes.TitleHistory;
    }
    else
    {
        ViewBag.Title = GlobalRes.TitleOrders;
    }
</h2>

<div class="row">
    @{ Html.RenderPartial("_OrderHistoryFilter", Model.Filter); }
</div>

<input type="hidden" value="@Model.FilteredCount" id="TotalFilteredCount" />

<div class="row">
    @{ Html.RenderPartial("_OrderHistoryDetails", Model.HistoryList);}
    <div class="col-md-9 col-md-offset-3">
        @Html.CustomPagination(Model.FilteredCount, Model.Filter.PageNumber, Model.NumberOnPage)
    </div>
</div>


<script src="~/scripts/pagination.js"></script>
@section datepicker
{
    @Scripts.Render("~/bundles/datepicker")
}
