﻿@using GameStore.App_LocalResources
@model GameStore.ViewModels.Basket.BasketViewModel

@{
    ViewBag.Title = GlobalRes.TitleBasket;
}

<h2>@GlobalRes.TitleBasket</h2>
@if (Model.OrderDetails.Count() != 0)
{
    <h3 class="caption">Summ of order: @Model.Summ $</h3>

    Html.RenderPartial("_OrderDetailsPage", Model.OrderDetails);

    if (User.IsInRole("User"))
    {
        <div class="btn-group">
            @Ajax.ActionLink(GlobalRes.ClearBasketBtn, "Clear", new { action = "clear", controller = "basket", lang = GlobalRes.CurrentLang }, new AjaxOptions { UpdateTargetId = "basket-items", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-danger" })
            @Html.ActionLink(GlobalRes.MakeOrderBtn, "Order", new { action = "Order", lang = GlobalRes.CurrentLang }, new { @class = "btn btn-success" })
        </div>
    }
}
else
{
    <h3>@GlobalRes.BasketEmptyTitle</h3>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>