﻿@model GameStore.ViewModels.Basket.OrderViewModel

@{
    ViewBag.Title = GlobalRes.TitleOrder;
}

<h2>@GlobalRes.TitleOrder</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>
    </dl>
</div>

@{
    Html.RenderPartial("_OrderDetailsPage", Model.OrderDetails);
}

<div class="row">
    @if (User.IsInRole("User"))
    {
        <div class="btn-group">
            @Ajax.ActionLink(GlobalRes.ClearBasketBtn, "Clear", new {action = "clear", controller = "basket", lang = GlobalRes.CurrentLang}, new AjaxOptions {UpdateTargetId = "basket-items", HttpMethod = "POST", InsertionMode = InsertionMode.Replace}, new {@class = "btn btn-danger"})
        </div>
    }
</div>

@{
    Html.RenderPartial("_PaymentMethods");
}