﻿@model GameStore.ViewModels.Basket.VisaPaymentResultViewModel

@{
    ViewBag.Title = @GlobalRes.TitleVisaPaymentResult;
}

<h2>@GlobalRes.TitleVisaPaymentResult</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderSumm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderSumm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data.CartHoldersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data.CartHoldersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data.CVV2OrCVC2Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data.CVV2OrCVC2Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data.DateOfExpiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data.DateOfExpiry)
        </dd>
    </dl>
</div>