﻿@model GameStore.ViewModels.Game.GameViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="caption text-left"><strong>@Model.Name</strong></div>
                    <div class="text-right">
                        <div class="label label-success">
                            <strong>@Model.Price $</strong>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>@Model.Description</p>
                    <strong>Genres</strong>
                    <ul>
                        @foreach (var genre in Model.Genres)
                        {
                            <li>@genre</li>
                        }
                    </ul>
                    
                    <strong>Platforms</strong>
                    <ul>
                        @foreach (var platform in Model.PlatformTypes)
                        {
                            <li>@platform</li>
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="label label-success">
                            <strong>@GlobalRes.GameUnitsInStock:</strong>
                            <span class="text-info">@Model.UnitsInStock</span>
                        </div>
                        <div class="label label-warning">
                            <strong>@GlobalRes.GameDiscontinued:</strong>
                            <span class="text-warning">@Model.Discontinued.ToString()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label label-info left">
                            <strong>@GlobalRes.PublisherName:</strong>
                            <span class="text-info"><a href="@Url.RouteUrl("PublisherGet", new {controller = "Publisher", companyName = Model.PublisherName})">@Model.PublisherName</a></span>
                        </div>
                        <div class="label label-info right">
                            <small>@GlobalRes.GameRelease: @Model.ReleaseDate</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label label-info right">
                            <small>@GlobalRes.GamePublish: @Model.PublishDate</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <div class="btn btn-info">
                                <a href="@Url.Action("Game", new { key = Model.Key})">@GlobalRes.DetailsBtn</a>
                            </div>
                            @if (User.IsInRole("Manager"))
                            {
                                <div class="btn btn-info">
                                    <a href="@Url.Action("Update", new {key = Model.Key})">@GlobalRes.EditBtn</a>
                                </div>
                                <div class="btn btn-info">
                                    <a href="@Url.Action("Remove", new {key = Model.Key})">@GlobalRes.DeleteBtn</a>
                                </div>
                            }
                            <div class="btn btn-info">
                                <a href="@Url.Action("Download", new {key = Model.Key})">@GlobalRes.DownloadBtn</a>
                            </div>
                            @if (User.IsInRole("User"))
                            {
                                <a href="@Url.Action("Buy", new {controller = "Basket", key = Model.Key, lang = GlobalRes.CurrentLang})" class="btn btn-success">@GlobalRes.BuyBtn</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="comments-block">
            @{ Html.RenderPartial("_Comments", Model.FullCommentsViewModel); }
        </div>
    </div>
</div>