﻿@using GameStore.Common.Helpers
@using GameStore.Helpers.EnumExtentions;
@model GameStore.ViewModels.Game.CreateGameViewModel

@{
    ViewBag.Title = GlobalRes.CreateGameTitle;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                <li class="nav-item">
                    @if (item == (LanguageCode)ViewBag.DefaultLanguage)
                    {
                        <a class="nav-link active" data-toggle="tab" href="#DefaultLang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                    else if (Model.GameLocalization.FirstOrDefault(x => x.Language == item) != null)
                    {
                        <a class="nav-link" data-toggle="tab" href="#@item.ToString()Lang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                </li>
            }
        </ul>

        @{
            var i = 0;
        }

        <div class="tab-content">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                if (item == (LanguageCode)ViewBag.DefaultLanguage)
                {
                    <div class="tab-pane fade in active" id="DefaultLang" role="tabpanel">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var locale = Model.GameLocalization.FirstOrDefault(x => x.Language == item);
                    if (locale != null)
                    {
                        <div class="tab-pane fade" id="@item.ToString()Lang" role="tabpanel">
                            <h4>@GlobalRes.GameEditLocalizationTitle @locale.Language.GetLocalizedDescription()</h4>
                            @Html.Hidden("GameLocalization[" + i + "].Language", locale.Language, new { @class = "form-control" })
                            <div class="form-group">
                                <label class="control-label col-md-2">@GlobalRes.GameName</label>
                                <div class="col-md-10">
                                    @Html.TextBox("GameLocalization[" + i + "].Name", locale.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">@GlobalRes.GameDescription</label>
                                <div class="col-md-10">
                                    @Html.TextArea("GameLocalization[" + i + "].Description", locale.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    i++;
                }
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="datetime-local" name="ReleaseDate" id="ReleaseDate" class="form-control" value="@Model.ReleaseDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discontinued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Discontinued)
                    @Html.ValidationMessageFor(model => model.Discontinued, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedGenres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedGenres, new MultiSelectList(Model.Genres), htmlAttributes: new { @class = "form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.SelectedGenres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedPlatformTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedPlatformTypes, new MultiSelectList(Model.PlatformTypes), htmlAttributes: new { @class = "form-control", multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.SelectedPlatformTypes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublisherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PublisherName, new SelectList(Model.PublisherNames), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PublisherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.CreateBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink(GlobalRes.BackToListBtn, "Index")
</div>