﻿@model GameStore.ViewModels.Comment.AddCommentViewModel

<div id="addcomment" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Ajax.BeginForm("NewComment", "Comment", new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "comments"
            }))
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.Quote, GlobalRes.CommentQuote + ":", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Quote, new { id = "addcomment-quote", @class = "form-control", @readonly = "true" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.GameKey)

                @Html.HiddenFor(model => model.ParentId, new { id = "addcomment-answer" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, GlobalRes.CommentName + ":", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" value="@User.Identity.Name" class="form-control" id="addcomment-name" readonly="readonly" name="Name" />
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Body, GlobalRes.CommentBody + ":", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Body, htmlAttributes: new { @class = "form-control", rows = "5", cols = "15", id = "addcomment-body" })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@GlobalRes.SendBtn" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>