﻿@model GameStore.ViewModels.Comment.FullCommentsViewModel

<div class="container-fluid" id ="comments">
    <div class="row">
            <div class="col-md-12">
                @{ Html.RenderPartial("_AddComment", Model.AddCommentViewModel); }
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @foreach (var comment in Model.Comments)
            {
                Html.RenderPartial("_Comment", comment);
            }
        </div>
        @if (User.IsInRole("Moderator"))
        {
            <div id="deleteModalBlock">
                @{ Html.RenderPartial("_Delete"); }
            </div>
        }
    </div>
</div>