﻿@model GameStore.ViewModels.Comment.CommentViewModel

<div class="comment comment-offset-@Model.CommentLevel" id="comment-@Model.CommentId">
    <div class="comment-head">
        <div class="hidden" id="idguid-@Model.CommentId">@Model.IdGuid</div>
        <p class="comment-author">@Model.AuthorName</p>
        <small class="comment-date">@Model.CommentDate</small>
    </div>
    <div class="comment-body">
        <input type="hidden" id="comment-gameKey-@Model.CommentId" value="@Model.GameKey" />
        @if (!string.IsNullOrEmpty(Model.ParentCommentAuthorName))
            {
            <div class="comment-answer-to">
                <strong class="comment-answer-label">@GlobalRes.ParentCommentAuthorName:</strong><strong class="comment-answer-name">@Model.ParentCommentAuthorName</strong>
                <a href="#@Model.AnswerId" class="comment-answer-to-btn">@GlobalRes.ParentCommentAuthorName @Model.ParentCommentAuthorName</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Quote))
            {
            <blockquote class="comment-quote">
                @Model.Quote
            </blockquote>
        }
        <p class="comment-body-text" id="comment-body-@Model.CommentId">@Model.Body</p>
    </div>

    <div class="comment-buttons">
        <div class="btn btn-info btn-answer" id="answer-btn-@Model.CommentId">@GlobalRes.AnswerBtn</div>
        <div class="btn btn-success btn-quote" id="quote-btn-@Model.CommentId">@GlobalRes.CommentQuote</div>
        @if (!User.IsInRole("Guest"))
            {
            <div class="btn btn-default btn-delete-comment" id="btnDeleteComment-@Model.CommentId">@GlobalRes.DeleteBtn</div>
            if (User.IsInRole("Moderator"))
            {
                <div class="btn btn-danger">@Html.ActionLink(GlobalRes.BanBtn, "Ban", new { controller = "comment", action = "Ban", id = Model.IdGuid, lang = GlobalRes.CurrentLang })</div>
            }
        }
    </div>
</div>