﻿<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@GlobalRes.DeleteCommentTitle</h4>
            </div>
            <div class="modal-body">
                @GlobalRes.DeleteCommentText
                <input type="hidden" id="deleteCommentGuid" />
                <input type="hidden" id="deleteCommentGameKey" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id ="deleteModalCancel">@GlobalRes.CancelBtn</button>
                <button type="button" class="btn btn-primary" id = "deleteModalDelete">@GlobalRes.DeleteBtn</button>
            </div>
        </div>
    </div>
</div>