﻿@using GameStore.Helpers.LocalizationHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalRes.SiteName</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/comment.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/styles/jqueryui")
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Game")" class="navbar-brand">@GlobalRes.SiteName</a></li>
                    <li><a>@GlobalRes.TitleGames: <span id="gamecount"></span></a></li>
                    <li><a href="@Url.Action("Index", "Publisher")">@GlobalRes.PublisherIndexTitle</a></li>
                    @if (!User.IsInRole("Guest"))
                    {
                        <li><a href="@Url.Action("Index", "Basket")">@GlobalRes.BasketBtn</a></li>
                    }
                    <li><a href="@Url.Action("Index", "Genre")">@GlobalRes.GenresTitle</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a href="@Url.Action("Index", "User")">@GlobalRes.UsersTitle</a></li>
                    }
                    <li><a href="@Url.Action("History", new {controller = "Basket", action = "history"})">@GlobalRes.TitleHistory</a></li>
                    @if (User.IsInRole("manager"))
                    {
                        <li><a href="@Url.Action("Orders", new {controller = "Basket", action = "Orders", lang = GlobalRes.CurrentLang})">@GlobalRes.TitleOrders</a></li>
                    }
                    <li class="navbar-form">@Html.LanguageDropdown()</li>
                    @Html.Action("UserLogin", "Account")
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @GlobalRes.SiteName</p>
        </footer>
    </div>
<script src="~/scripts/getGamesCount.js"></script>
<script src="~/scripts/languageSwitch.js"></script>
    
    @RenderSection("datepicker", false)

</body>
</html>