﻿@{
    Layout = "";
    ViewBag.Title = "404 - Page Not Found";
}
    <link href="~/Content/404-style.css" rel="stylesheet" />

    <div class="notfound">Sorry, this page is anvailable now. Please, go back and choose right path.</div>