﻿@{
    Layout = "";
    ViewBag.Title = "404 - Unauthorized";
}

<link href="~/Content/401-style.css" rel="stylesheet" />
<div class="unauthorized">Sorry, you can't access this page. Log in and try again.</div>
