﻿@model IEnumerable<GameStore.ViewModels.Publisher.PublisherViewModel>

@{
    ViewBag.Title = GlobalRes.PublisherIndexTitle;
}

<h2>@GlobalRes.TitleIndex</h2>

@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink(GlobalRes.AddPublisherBtn, "New")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomePage)
        </td>
        <td>
            @Html.ActionLink(GlobalRes.DetailsBtn, "Get", new { companyName = item.Name }, new { @class = "btn btn-default" }) 
            @if (User.IsInRole("manager"))
            {
                @Html.ActionLink(GlobalRes.EditPublisherTitle, "Update", new {publisherName = item.Name}, new {@class = "btn btn-default"})
                @Html.ActionLink(GlobalRes.DeleteBtn, "Delete", new { companyName = item.Name }, new { @class = "btn btn-default" })
            }
        </td>
    </tr>
}
</table>