﻿@using GameStore.Common.Helpers
@using GameStore.Helpers.EnumExtentions
@model GameStore.ViewModels.Publisher.PublisherViewModel

@{
    ViewBag.Title = GlobalRes.TitleEdit;
}

<h2>@GlobalRes.EditPublisherTitle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    @Html.HiddenFor(x => x.ObjectId)

    <div class="form-horizontal">
        <hr />
        <ul class="nav nav-tabs" role="tablist">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                <li class="nav-item">
                    @if (item == (LanguageCode)ViewBag.DefaultLanguage)
                    {
                        <a class="nav-link active" data-toggle="tab" href="#DefaultLang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                    else if (Model.PublisherLocalization.FirstOrDefault(x => x.Language == item) != null)
                    {
                        <a class="nav-link" data-toggle="tab" href="#@item.ToString()Lang" role="tab">@item.GetLocalizedDescription()</a>
                    }
                </li>
            }
        </ul>

        @{
            var i = 0;
        }

        <div class="tab-content">

            @foreach (var item in LanguageCode.En.GetAllValuesOfEnum())
            {
                if (item == (LanguageCode)ViewBag.DefaultLanguage)
                {
                    <div class="tab-pane fade in active" id="DefaultLang" role="tabpanel">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var locale = Model.PublisherLocalization.FirstOrDefault(x => x.Language == item);
                    if (locale != null)
                    {
                        <div class="tab-pane fade" id="@item.ToString()Lang" role="tabpanel">
                            <h4>@GlobalRes.EditPublisherTitle @locale.Language.GetLocalizedDescription()</h4>
                            @Html.Hidden("PublisherLocalization[" + i + "].Language", locale.Language, new { @class = "form-control" })
                            <div class="form-group">
                                <label class="control-label col-md-2">@GlobalRes.PublisherName</label>
                                <div class="col-md-10">
                                    @Html.TextBox("PublisherLocalization[" + i + "].CompanyName", locale.CompanyName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">@GlobalRes.PublisherDescription</label>
                                <div class="col-md-10">
                                    @Html.TextArea("PublisherLocalization[" + i + "].Description", locale.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    i++;
                }
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomePage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalRes.EditBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

