﻿@model IEnumerable<GameStore.ViewModels.User.UserSimpleViewModel>

@{
    ViewBag.Title = GlobalRes.TitleIndex;
}

<h2>@GlobalRes.TitleIndex</h2>

@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "New")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink(GlobalRes.EditBtn, "Update", new { nickName = item.NickName}) 
                @Html.ActionLink(GlobalRes.DeleteBtn, "Delete", new { nickName = item.NickName }) 
            }
            @Html.ActionLink(GlobalRes.DetailsBtn, "Get", new { nickName = item.NickName })
        </td>
    </tr>
}

</table>
